PORT=8080
GOOGLE_MAPS_API_KEY=replace_me
SUPABASE_URL=https://jnsjakpcqoilbezhexce.supabase.co
SUPABASE_ANON_KEY=eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impuc2pha3BjcW9pbGJlemhleGNlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEwNzE1NjgsImV4cCI6MjA3NjY0NzU2OH0
